#root {
    -fx-font-family: SansSerif;
// -fx-background: linear-gradient( rgba(0, 225, 255, 0.815) , #1c11bbb9) ;

    -fx-text-fill: white;
}

.main {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.aside {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.btns_selection {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.lbl_nPregunta {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.lbl_nPunto {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.footer {
    -fx-alignment: center;
}

label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#pregunta {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-max-width: 350px;
}

#puntos {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.btn {
    -fx-background-color: #02409d;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
.btn:hover {
    -fx-background-color: #0e5ac9;
}
.footer {
    -fx-spacing: 40;
}

.girar {
    -fx-alignment: center;
}

#btn_true {
    -fx-background-color: #34b040;
}

#btn_true:hover {
    -fx-background-color: #144619;
}

#btn_false {
    -fx-background-color: #f44336;
}

#btn_false:hover {
    -fx-background-color: #611a15;
}