BorderPane {
    -fx-font-family: Sans-serif;
    -fx-background-color: linear-gradient(#667eea, #764ba2);
}

HBox, VBox {
    // -fx-background-color: red;
    -fx-alignment: center;
    -fx-spacing: 40px;
}

Button {
    -fx-background-color: #02409d;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

Button:hover {
    -fx-background-color: #0e5ac9;
}

#button_true {
    -fx-background-color: #34b040;
}

#button_true:hover {
    -fx-background-color: #144619;
}

#button_false {
    -fx-background-color: #f44336;
}

#button_false:hover {
    -fx-background-color: #611a15;
}

Label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#label_question {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-max-width: 350px;
    -fx-wrap-text: true;
}

#textField_points, #textField_tries{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-alignment: center;
}